@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Gabarito-Black;
  src: url(/assets/fonts/gabarito/Gabarito-Black.ttf);
}

@font-face {
  font-family: Gabarito-Bold;
  src: url(/assets/fonts/gabarito/Gabarito-Bold.ttf);
}

@font-face {
  font-family: Gabarito-Medium;
  src: url(/assets/fonts/gabarito/Gabarito-Medium.ttf);
}
@font-face {
  font-family: Gabarito-Regular;
  src: url(/assets/fonts/gabarito/Gabarito-Regular.ttf);
}

@font-face {
  font-family: Gabarito-SemiBold;
  src: url(/assets/fonts/gabarito/Gabarito-SemiBold.ttf);
}

@font-face {
  font-family: Inria-Regular;
  src: url(/assets/fonts/inria/InriaSerif-Regular.ttf);
}

:root {
  --azul-900: #1B2432;
  --azul-800: #000E33;
  --azul-700: #001d66;
  --azul-600: #0048FF;
  --azul-500: #3C73FF;
  --azul-400: #336dff;
  --azul-200: #99B6FF;
  --cinza-700: #808080;
  --font-gabarito-black: Gabarito-Black;
  --font-gabarito-bold: Gabarito-Bold;
  --font-gabarito-medium: Gabarito-Medium;
  --font-gabarito-semibold: Gabarito-SemiBold;
  --font-gabarito-regular: Gabarito-Regular;
  --font-inria-regular: Inria-Regular;
  --background: #E8EAED;
  --foreground: #171717;
  --card: #E8EAED;
  --card-foreground: #171717;
  --popover: #E8EAED;
  --popover-foreground: #171717;
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-azul-900: var(--azul-900);
  --color-azul-800: var(--azul-800);
  --color-azul-700: var(--azul-700);
  --color-azul-600: var(--azul-600);
  --color-azul-500: var(--azul-500);
  --color-azul-400: var(--azul-400);
  --color-azul-200: var(--azul-200);
  --color-cinza-700: var(--cinza-700);
  --font-gabarito-black: var(--font-gabarito-black);
  --font-gabarito-bold: var(--font-gabarito-bold);
  --font-gabarito-medium: var(--font-gabarito-medium);
  --font-gabarito-semibold: var(--font-gabarito-semibold);
  --font-gabarito-regular: var(--font-gabarito-regular);
  --font-inria-regular: var(--font-inria-regular);
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  html,
  body {
    overflow-x: clip;
  }
}